# SPDX-License-Identifier: GPL-2.0-only

config WALT_EXT
	default n
	depends on SCHED_WALT
	tristate "Support window based load tracking extention"
	help
	This will enable the features ported from the upstream walt module.